.container{
	position: relative;
    background: #242423;
    display: flex;
    width: 12.5rem;
    height: fit-content;
    margin: .3rem;
    flex-direction: column;
    padding: .1rem;
}


.namePrice{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* background: red; */
    margin: 0 .3rem;
}
.namePrice h4{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
    font-size: .9rem;
    /* background: darkblue; */
}

.price{
    text-align: end;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blue; */
}
.buttons button{
    background: #e8eddf;
    border: none;
    border-radius: .15rem;
    color: #242423;
    cursor: pointer;
    height: 1.5rem;
    margin: 0 .5rem;
    outline: none;
    transition: all .35s ease-in-out;
    width: 1.5rem;
}

.buttons button:hover{
    background: #f5cb5c;
    color: #242423;
}


.buttons h5{
    color: #e8eddf;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    /* font-size: 1.2rem; */
}

.buttons .sterge{
    width: fit-content;
    height: fit-content;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    /* background: red; */
    padding: 0 .3rem;
}

.plusMinus{
    display: flex;
    align-items: center;
    /* background: red; */
}
.plusMinus button{
    background: none;
    color: #e8eddf;
    font-weight: 200;
    font-size: 1.2rem;
    height: fit-content;
}

.textButtons{
    display: block;
}



@media screen and (max-width: 768px){
   .container{
        width: 99%;
        height: fit-content;
        margin: 0 auto;
        margin-bottom: .2rem;
        margin-top: .2rem;
        flex-direction: row;
        padding: .1rem;
    }

    .img{
        width: 15rem;
    }

    .textButtons{
        width: 100%;
        /* background: cornflowerblue; */
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-end;
    }


    .namePrice{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0 .3rem;
        /* background: #ff000088; */
        width: 100%;
        height: 100%;
    }

    .namePrice h4{
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        color: white;
        font-size: .9rem;
    }

    .price{
        text-align: start;
    }

    .namePrice .name{
        /* font-size: .1rem; */
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: #f5cb5c99; */
        width: 100%;
        height: 100%;
    }

    .buttons button{
        background: #e8eddf;
        border: none;
        border-radius: .15rem;
        color: #242423;
        cursor: pointer;
        height: 1.5rem;
        margin: 0 .2rem;
        outline: none;
        transition: all .35s ease-in-out;
        width: 1.5rem;
    }

    .buttons button:hover{
        background: #f5cb5c;
        color: #242423;
    }


    .buttons h5{
        color: #e8eddf;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
    }

    .buttons .sterge{
        width: fit-content;
        height: fit-content;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        padding: 0 .3rem;
    }

    .plusMinus{
        display: flex;
        align-items: center;
    }

    .plusMinus button{
        background: none;
        color: #e8eddf;
        font-weight: 200;
        font-size: 1.2rem;
        height: fit-content;
    }
}