.cartContainer{
    width: 100%;
    height: fit-content;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-extra-light);
    backdrop-filter: blur(5px);
}

.wrapper{
    width: fit-content;
    max-width: 100%;
}

.sus{
    display: block;
    justify-content: center;
    background: none;
}

.jos{
    background: var(--color-primary-dark2);
    height: 100%;
    width: 100%;
    border-radius: .2rem;
}

.endButtons{
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.wrapperRight{
    padding-bottom: .5rem;
}

.wrapperRight h4{
    color: var(--color-primary-lighten1);
    font-family: var(--font-family-poppins);
    font-weight: var(--font-w200);
    padding: 0 .5rem;
    font-size: 1rem;
    justify-self: flex-end;
    width: 100%;
    text-align: end;
}


.btnEmpty{
    align-self: center;
    background: none;
    border: 1px solid var(--color-primary-lighten1);
    border-radius: .3rem;
    color: var(--color-primary-lighten1);
    cursor: pointer;
    font-family: var(--font-family-poppins);
    font-size: 1rem;
    font-weight: var(--font-w400);
    height: fit-content;
    outline: none;
    padding: .1rem .3rem;
    width: fit-content;
    transition: all .35s ease-in-out;
}


.btnEmpty:hover{
    border: 1px solid var(--color-primary-light);
}

.endButtons a{
    align-self: center;
    background: var(--color-primary-lighten1);
    border-radius: .3rem;
    color: var(--color-primary-dark2);
    cursor: pointer;
    font-family: var(--font-family-poppins);
    font-size: 1rem;
    font-weight: var(--font-w400);
    height: fit-content;
    outline: none;
    padding: .1rem .3rem;
    transition: all .35s ease-in-out;
}

.endButtons a:hover{
    background: var(--color-primary-light);
}

.emptyCart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    padding: 0 1rem;
}

.emptyCart a{
    color: var(--color-primary-light);
    margin: 0 .2rem;
    text-decoration: underline;
    letter-spacing: .05rem;
    font-size: 1rem;
}



.emptyCart h5{
    color: var(--color-primary-lighten1);
    font-family: var(--font-family-poppins);
    font-weight: var(--font-w400);
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .cartContainer{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrapper{
        width: 100%;
        margin: 0 0;
    }

    .sus{
        display: block;
        justify-content: center;
        flex-wrap: nowrap;
        background: none;
    }

    .jos{
        margin-bottom: 1rem;
    }

    .wrapperRight h4{
        font-size: 1rem;
    }

    .emptyCart{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }

    .emptyCart a{
        font-size: 1rem;
    }


    .emptyCart h5{
        color: var(--color-primary-lighten1);
        font-family: var(--font-family-poppins);
        font-weight: var(--font-w400);
        font-size: 1rem;
        text-align: center;
    }
}
