.checkout__container{
    width: 100%;
    height: fit-content;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-extra-light);
    backdrop-filter: blur(5px);
}

.checkout__wrapper{
    width: 35rem;
    max-width: 100%;
    height: fit-content;
}

.checkout__container .checkout__paper{
    background: var(--color-primary-lighten1);
    padding: .5rem;
    margin: 1rem .3rem;
}

.checkout__container .checkout__stepper{
    background: var(--color-primary-lighten1);
}

.checkout__container .checkout__spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* In components/Checkout/PaymentForm */
.checkout__container .checkout__cardElement{
    background: var(--color-primary-lighten1);
    border: 10px solid var(--color-primary-dark2);
    padding: .5rem;
    border-radius: .25rem;
}