.container{
    width: 100%;
    height: fit-content;
    min-height: 79vh;
    /* background: darkcyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff11;
    backdrop-filter: blur(5px);
}

.checkout{
    width: 35rem;
    max-width: 100%;
    height: fit-content;
    /* background: darkgoldenrod; */
}

.container .paper{
    background: white;
    padding: .5rem;
    margin: 1rem .3rem;
}

.container .stepper{
    background: white;
}

.container .spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .cardElement{
    background: white;
    border: 1px solid #242423;
    padding: .5rem;
    border-radius: .25rem;
}