.consultantaContainer{
    min-height: 79vh;
    padding: 3rem 1rem 1rem 1rem;
    background: #ffffff11;
    backdrop-filter: blur(5px);
    width: 50%;
    margin: 0 auto;
}
.consultantaContainer h3{
    color: #e8eddf;
    font-weight: 400;
    text-decoration: underline;
    font-family: 'Poppins',sans-serif;
}

.consultantaContainer li::marker{
    color: #f5cb5c;
}

.consultantaContainer li{
    color: #e8eddf;
    margin-left: 3rem;
    font-family: 'Poppins',sans-serif;
    /* font-weight: 400; */
    font-size: .9rem;
    letter-spacing: 0.02rem;
}

@media screen and (max-width:768px){
    .consultantaContainer{
        width: 100%;
    }
}