.despreNoiContainer{
    min-height: 79vh;
    padding-top: 1rem;
    background: #ffffff11;
    backdrop-filter: blur(5px);
}

.despreNoiContainer p{
    color: #e8eddf;
    padding: 2rem 3rem;
    /* padding-bottom: 1rem; */
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
}

.despreNoiContainer p strong{
    font-weight: 400;
}