.container{
    background: #242423;
    width: 98%;
    /* min-height: 50vh; */
    height: fit-content;
    position: fixed;
    top: 4rem;
    left: -150%;
    transition: all .3s ease-in-out;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin: .5rem 1rem; */
    box-shadow: 0px 20px 100px 200px #24242399;
    outline: 1px solid #f5cb5c;
}


.container .left{
    /* background: greenyellow; */
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.containerImg{
    width: 100%;
    /* margin: 10px; */
}

.containerImg .carousel{
    height: 100%;
    position: relative;
    width: 100%;
    /* background: greenyellow; */
    overflow: hidden;
}
.containerImg .carousel .slider{
    height: 100%;
    display: flex;
    width: 100%;
    transition: all .35s ease-in-out;
    /* min-width: 100%; */
    /* overflow: hidden; */
}

.slider section{
    width: 100%;
    min-width: 100%;
}

.container .backBtn{
    border: none;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: whitesmoke;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    width: 3rem;
    height: 3rem;
    /* padding: 1rem; */
    padding-right: .7rem;
    text-align: end;
    border-radius: 0 0 0 2rem;
}

.right{
    /* background: #666; */
    width: 50%;
    align-self: flex-end;
    height: fit-content;
    padding: .3rem;
}

.right em{
    margin-left: .5rem;
    color: whitesmoke;
    font-weight: 400;
}

.right h4{
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 1rem;
}
.right p{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    /* background: red; */
    /* margin: 5px; */
    width: fit-content;
}

.right sub{
    font-size: 1.2rem;
}
.right h5{
    color: #f5cb5c;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    /* background: tomato; */
    text-align: end;
    /* padding-right: 3rem; */
    /* text-decoration: underline 1px red; */
}



.buttonsDiv{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    height: 1.7rem;
    display: flex;
    background: #24242366;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
}

.left button{
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 3rem;
    cursor: pointer;
    color: #242423;
    color: whitesmoke;
    background: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    transition: all 350ms ease-in-out;
}

.left button:hover{
    color: #f5cb5c;
}


@media screen and  (max-width: 768px){
    .container{
        display: block;
        top: 3.2rem;
        left: -200%;
        z-index: 2;
        /* outline: none; */
    }
    .container .backBtn{
        z-index: 1;
        background: #242423;
        /* color: whitesmoke; */
        border-radius: 0 0 0 2rem;
    }
    .right{
        width: 100%;
    }
    .right h4{
        font-size: 2.1rem;
    }
    .right p{
        font-size: 1.1rem;
    }
    .right h5{
        font-size: 1.7rem;
        padding-right: 0rem;
    }

    .buttonsDiv{
        position: absolute;
        bottom: 0;
        left: 100%;
        transform: translate(-100%);
        width: fit-content;
        height: 1.7rem;
        display: flex;
        background: #24242366;
        justify-content: center;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
    }
}

