.footer__container {
  width: 100%;
  height: 14rem;
  background: var(--color-primary-dark1);
  display: flex;
  padding: 0 1rem 1rem;
  padding-bottom: 0;
  user-select: none;
  backdrop-filter: blur(2px);
  border-top: 1px solid var(--color-primary-lighten2);
}

.footer__container a {
  transition: all 350ms ease-in-out;
}

.footer__left,
.footer__middle,
.footer__right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__container h3 {
  color: var(--color-primary-lighten1);
}

/* LEFT FOOTER ===================================== */
.footer__left {
  margin-right: 1rem;
}
.footer__left h3,
.footer__middle h3,
.footer__right h3 {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w400);
  font-size: 1.2rem;
}

/* MIDDLE FOOTER ===================================== */
.footer__middle {
  margin-right: 1rem;
}
.footer__middle a {
  color: var(--color-primary-lighten1);
  font-size: 0.8rem;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
}

/* RIGHT FOOTER ===================================== */
.footer__right {
  padding-top: 2rem;
}

.footer__right a:first-child {
  margin-top: 0.5rem;
  color: var(--color-primary-lighten1);
  animation: onoff 2s linear infinite;
}

@keyframes onoff {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

.footer__right a {
  color: var(--color-primary-lighten1);
  font-size: 0.8rem;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
  margin-bottom: 1rem;
}

.footer__right h4 {
  color: var(--color-primary-lighten1);
  font-size: 1rem;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
}

.footer__social {
  margin: 1rem 0;
  padding: 0;
  width: 100%;
}

.footer__social li {
  color: var(--color-primary-lighten1);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-w200);
  list-style: none;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05rem;
}

.footer__container a:hover {
  color: var(--color-primary-light);
}

@media screen and (max-width: 768px) {
  .footer__container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .footer__right {
    padding-bottom: 1.5rem;
  }

  .footer__middle a {
    font-size: 1.1rem;
  }

  .footer__right a {
    font-size: 1.1rem;
  }
  .footer__social li {
    font-size: 1rem;
    letter-spacing: 0;
  }
}
