* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: calc(100vh - 3rem);
  /* min-height: 100vh; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: linear-gradient(to right, #555, #444); */
  background-image: url('/bg13.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  /* background-attachment: fixed; */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width:768px){
  body{
    background-image: url('/bg13_tall.jpg');
  }
}


