
.container{
  height: fit-content;
  min-height: 79vh;
  display: flex;
  padding: 1rem;
  align-items: center;
}


@media screen and (max-width: 768px){
  .container{
    padding: .5rem;
    flex-direction: column;
  }
  
}

