
.container{
  height: fit-content;
  min-height: 79vh;
  /* background: darkolivegreen; */
  display: flex;
  /* flex-direction: column; */
  padding: .5rem;
  justify-content: flex-start;
}


@media screen and (max-width: 768px){
  .container{
    height: 100%;
    min-height: 79vh;
    display: flex;
    flex-direction: column;
  }
  
}

