.container{
    min-height: 79vh;
    padding: 3rem 1rem 1rem 1rem;
    background: #ffffff11;
    backdrop-filter: blur(5px);
    width: 50%;
    margin: 0 auto;
    user-select: none;
}

.container img{
    float: left;
    margin-right: 1rem;
    width: 50%;
    height: auto;
}

.container h3,
.container h4,
.container h5,
.container p{
    color: #e8eddf;
    font-family: 'Poppins';
    text-align: justify;
}
.container h3{
    font-weight: 600;
}

.container p{
    font-size: .9rem;
    padding-bottom: 1rem;
    font-weight: 200;
}

.container h4{
    font-weight: 800;
    letter-spacing: .1rem;
}
.container h5{
    font-weight: 200;
    font-size: .9rem;
}
.container ul li{
    color: #e8eddf;
    font-family: 'Poppins',sans-serif;
    font-size: .9rem;
    margin-left: 3rem;
    font-weight: 200;
}

.container li::marker{
    color: #f5cb5c;
}

@media screen and (max-width:768px){
    .container{
        width: 100%;
    }

}