.container{
	position: relative;
    background: #242423;
    display: flex;
    width: 250px;
    height: fit-content;
    margin: .8rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 1px 1px 1px 1px #171717;
    transition: all 350ms ease-in-out;
}

.container:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 5px 5px rgba(24, 24, 24, 0.333);
    background: #121212;
    /* border: 1px solid black; */
}

.container h4,
.container h5{
    color: #e8eddf;
    font-family: 'Poppins';
}
.container h4{
    font-weight: 400;
}
.container h5{
    font-weight: 200;
}

.container .link{
    /* background: red; */
    flex-grow: 1;
    text-align: right;
    position: relative;
    /* align-self: flex-end; */
    /* justify-content: flex-end; */
}
.container .link a{
    /* background: blue; */
    color: #333533;
    position: absolute;
    bottom: -.2rem;
    right: 0;
    background: #f5cb5c;
    padding: .05rem .2rem;
    border-radius: .3rem;
    font-family: 'Poppins',sans-serif;
    font-size: .9rem;
    font-weight: 400;
}

.container .details{
    flex-grow: 1;
    text-align: left;
    position: relative;
}
.container .details a{
    /* background: blue; */
    color: #e8eddf;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Poppins',sans-serif;
    font-size: .9rem;
    font-weight: 400;
}


.container h5:last-of-type{
    margin-bottom: 1.5rem;
    /* background: red; */
}



@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        width: 100%;
    }
    .container:hover{
        transform: none;
    }
}