.navbarContainer{
    display: flex;
    /* background: linear-gradient(to bottom, #242423 70%, transparent); */
    background: #151515;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
	z-index: 99;
	transition: all .5s ease-in-out;
}

.navTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.navTitle h3{
    font-family: 'Abril Fatface';
    font-family: 'Monotone';
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2rem;
    font-weight: 600;
    color: whitesmoke;
	margin-right: 1rem;
	user-select: none;
}

.icon{
	color: #f5cb5c;
	font-size: 3rem;
}

.divIcon{
	/* flex-grow: 1; */
	text-align: end;
	/* background: blueviolet; */
	width: fit-content;
}

.navbarContainer .cartIcon{
	color: #f5cb5c;
}

.navbarContainer ul{
	flex-grow: 1;
    display: flex;
    list-style: none;
    justify-content: center;
    width: fit-content;
    /* height: 2rem; */
    align-items: center;
	user-select: none;
	/* background: blue; */
}

.navbarContainer ul li a{
    margin: 0 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #e8eddf;
    position: relative;
    transition: all 350ms ease-in-out;
    padding: 0 .3rem;
}

.navbarContainer ul li a:hover{
	color: #242423;
}

.navbarContainer ul li a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	transform: scaleY(2);
	opacity: 0;
	transition: .5s;
	z-index: -1;
}

.navbarContainer ul li a:hover::before{
	transform: scaleY(1.2);
	opacity: 1;
}


.navbarContainer ul li a::after{
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	transform: scale(0);
	transition: .5s;
	z-index: -1;
}

.navbarContainer ul li a:hover::after{
	transform: scale(1);
}

.meniu{
	display: none;
	outline: none;
	background: none;
	color: #f5cb5c;
	border: none;
	border-bottom: 1px solid #f5cb5c77;
	border-radius: 5px;
	padding: 0 5px;
	font-size: 1rem;
	font-family: 'Poppins',sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 1000px){
	.navTitle h3{
		font-size: 2rem;
	}
}

@media screen and (max-width: 768px){
	.navbarContainer{
		border-bottom: none;
	}
	.navbarContainer ul{
		align-items: center;
		background: #151515;
		border-bottom: 1px solid #ffffff77;
		display: flex;
		height: 3rem;
		justify-content: space-around;
		position: fixed;
		right: -100%;
		top: 3rem;
		width: 100%;
	}
	.meniu{
		display: flex;
	}
	
	.ul{
		transition: all .35s ease-in-out;
	}
	.navTitle h3{
		font-size: 1rem;
	}
	
}

@media screen and (max-width: 320px){
	.navTitle h3{
		font-size: .8rem;
	}
	.icon{
		font-size: 2rem;
	}
	
	
}

