.navbarContainer{
    display: flex;
    background: #242423;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
	z-index: 99;
	border-radius: 0 0 1rem 1rem;
	border-bottom: 1px solid #ffffff77;
}

.navTitle{
	display: flex;
	justify-content: center;
	align-items: center;
}

.navTitle h3{
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 800;
    color: whitesmoke;
	margin-right: 1rem;
}

.navbarContainer ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: fit-content;
    /* background: red; */
    height: 2rem;
    align-items: center;
}

.navbarContainer ul li a{
    margin: 0 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #e8eddf;
    position: relative;
    transition: all 350ms ease-in-out;
    padding: 0 .3rem;
}

.navbarContainer ul li a:hover{
	color: #242423;
}

.navbarContainer ul li a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	transform: scaleY(2);
	opacity: 0;
	transition: .5s;
	z-index: -1;
}

.navbarContainer ul li a:hover::before{
	transform: scaleY(1.2);
	opacity: 1;
}


.navbarContainer ul li a::after{
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	transform: scale(0);
	transition: .5s;
	z-index: -1;
}

.navbarContainer ul li a:hover::after{
	transform: scale(1);
}

.meniu{
	display: none;
	outline: none;
	background: none;
	color: #f5cb5c;
	border: none;
	border-bottom: 1px solid #f5cb5c77;
	border-radius: 5px;
	padding: 0 5px;
	font-size: 1rem;
	font-family: 'Poppins',sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 1000px){
	.navTitle h3{
		font-size: 1rem;
	}
}

@media screen and (max-width: 875px){
	.navTitle h3{
		font-size: 1rem;
	}
}

@media screen and (max-width: 812px){
	.navTitle h3{
		font-size: .9rem;
	}
}

@media screen and (max-width: 797px){
	.navTitle h3{
		font-size: .8rem;
	}
}

@media screen and (max-width: 768px){
	.navbarContainer ul{
		position: fixed;
		top: 3rem;
		right: -100%;
		width: fit-content;
		background: linear-gradient(to right, #00000055,#ffffff22);
		backdrop-filter: blur(3px);
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;
		border-radius: 1rem 0 0 1rem;
		border-left: 1px solid #ffffff77;
		border-bottom: 1px solid #ffffff77;
	}
	.meniu{
		display: flex;
	}
	
	.ul{
		transition: all .35s ease-in-out;
	}
	.navTitle h3{
		font-size: 1rem;
	}
	
}

