.container{
    min-height: calc(100vh - 3rem);
    /* background: red; */
    margin: 4rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.sidebar{
    min-width: 10rem;
    height: 100%;
    background: #e8eddf;
    border-radius: .3rem;
    position: sticky;
    top: 4rem;
    z-index: 1;
}

.productList{
    /* background: green; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
}