/* both sections */
.container {
    height: fit-content;
    min-height: 79vh;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.container .s1{
    padding: 0 1rem;
}

.containerImg {
    width: 100%;
}

.containerImg .carousel {
    height: 100%;
    width: 100%;
}

.containerImg .carousel .slider {
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 1s ease-in-out;
    position: relative;
}

.s2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.containerDr {
    display: flex;
    width: 80%;
    height: fit-content;
}

.backBtn {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #f5cb5c;
    color: #242423;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    cursor: pointer;
}

.imageDiv {
    background: #242423;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide {
    min-height: 100%;
    background: #242423;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5rem;
}

.rightSide h4:first-child {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: underline;
    padding-bottom: 2rem;
}

.description p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

.rightSide h4:last-child {
    color: #f5cb5c;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: end;
}


/* Buton Adauga in cos */
.link{
    /* background: red; */
    /* flex-grow: 1; */
    text-align: left;
    /* position: relative; */
    
}

/* Buton Adauga in cos */
.link button{
    border: none;
    /* background: blue; */
    color: #333533;
    /* position: absolute; */
    /* bottom: -.2rem; */
    /* right: -1rem; */
    background: #f5cb5c;
    padding: .05rem .2rem;
    border-radius: .3rem;
    font-family: 'Poppins',sans-serif;
    font-size: .9rem;
    font-weight: 400;
    cursor: pointer;
}

.link button:disabled{
    background: gray;
    cursor: not-allowed;
}

.s1{
    width: 100%;
}
.containerSt {
    display: flex;
    width: 100%;
}

.sidebar {
    min-width: 7rem;
    height: fit-content;
    background: #232323;
    border-radius: .3rem;
    margin-top: 1rem;
    margin-right: .5rem;
    border-bottom: 1px solid #f5cb5c;
}

.productList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }
    .container .s1{
        padding: 0;
    }

    .s2 {
        display: none;
        margin: .5rem 0;
    }

    .containerDr {
        display: block;
        width: 95%;
    }

    .rightSide {
        width: 100%;
    }
    .backBtn {
        font-size: 2rem;
        position: fixed;
        top: 3rem;
        left: 100%;
        transform: translate(-100%);
        z-index: 1;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: none;
        outline: none;
        background: #242423;
        color: #f5cb5c;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        cursor: pointer;
    }
    .containerSt {
        display: flex;
        flex-direction: column;
    }
    .containerSt .sidebar {
        width: 100%;
        height: fit-content;
        border-radius: 0;
        margin-top: 0;
        margin-right: 0;
        border-bottom: 1px solid #f5cb5c;
        padding: 1rem;
        position: fixed;
        top: 3rem;
        z-index: 2;
    }
    .productList {
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 7.5rem;
    }
}