/* both sections */
.container {
    height: fit-content;
    min-height: 79vh;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg,#44444422,#22222222);
}

/* Pagina cu produse */
.container .s1{
    padding: 0 1rem;
}


.containerImg {
    width: 100%;
}

.containerImg .carousel {
    height: 100%;
    width: 100%;
}

.containerImg .carousel .slider {
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 1s ease-in-out;
    position: relative;
}



.backBtn {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #f5cb5c;
    color: #242423;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    cursor: pointer;
}



.s1{
    width: 100%;
}
.containerSt {
    display: flex;
    width: 100%;
}

.sidebar {
    min-width: 7rem;
    height: fit-content;
    background: #232323;
    border-radius: .3rem;
    margin-top: 1rem;
    margin-right: .5rem;
    border-bottom: 1px solid #f5cb5c;
    border-top: 1px solid #f5cb5c;
}

.productList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    /* background: darkred; */
}









/* SECTION 2 */


/* Toata pagina S2 */
.s2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Div cu imaginea si scrisu */
.containerDr {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: flex-end;
    background: #242423;
}

.alin2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.alin4{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    transition: all .35s ease-in-out;
}

.alin5 {
    width: 100%;
    display: flex;
}

.alin5 section{
    width: 100%;
    min-width: 100%;
    display: flex;
}






/* Toata partea cu scrisu din dreapta imaginii */
.rightSide {
    background: #242423;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 .5rem;
    position: relative;
}


/* Titlu din partea dreapta sus */
.rightSide h4:first-child {
    color: #e8eddf;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 1rem;
    user-select: none;
}


/* Descrierea */
.description p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    user-select: none;
}


/* Pretul */
.rightSide h4:last-child {
    color: #f5cb5c;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: end;
    user-select: none;
    text-align: start;
}

.buttonsDiv{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    height: 1.7rem;
    display: flex;
    background: #24242366;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    /* z-index: 3; */
}

.buttonsDiv button{
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 3rem;
    cursor: pointer;
    color: #e8eddf;
    background: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    transition: all 350ms ease-in-out;
}

.buttonsDiv button:hover{
    color: #f5cb5c;
}


/* ================================================ */
.link{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    /* background: red; */
    text-align: end;
}
.link .shopIcon{
    color: #f5cb5c;
}

.linkDisabled{
    position: absolute;
    bottom: 0;
    right: 0;
}

.linkDisabled .shopIconDisabled{
    color: gray;
    cursor: not-allowed;
}
/* ================================================ */


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
    }
    .container .s1{
        padding: 0;
    }

    .s2 {
        display: none;
        margin: .5rem 0;
    }

    .containerDr {
        display: block;
        width: 98%;
    }

    .rightSide {
        width: 100%;
    }
    .backBtn {
        font-size: 2rem;
        position: fixed;
        top: 3rem;
        left: 100%;
        transform: translate(-100%);
        /* z-index: 1; */
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: none;
        outline: none;
        background: #242423;
        color: #f5cb5c;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        cursor: pointer;
    }
    .containerSt {
        display: flex;
        flex-direction: column;
    }
    .containerSt .sidebar {
        width: 100%;
        height: fit-content;
        border-radius: 0;
        margin-top: 0;
        margin-right: 0;
        border-bottom: 1px solid #f5cb5c;
        padding: 1rem;
        position: fixed;
        top: 3rem;
        z-index: 2;
    }
    .productList {
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 7.5rem;
    }

    .buttonsDiv{
        left: 100%;
        transform: translate(-100%);
    }
    .sidebar{
        border-top: none;
    }
}