.ramburs__container{
    width: 100%;
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ramburs__container form{
    background: coral;
    display: flex;
    flex-direction: column;
}

.ramburs__container form textarea{
    resize: none;
}

.ramburs__buttonsContainer{
    display: flex;
    width: 100%;
}

.ramburs__buttonsContainer button,
.ramburs__buttonsContainer a{
    width: 50%;
    text-align: center;
}