.container{
    margin: .5rem;
    /* max-height: 100vh; */
    position: relative;
}
.container .bucati{
    margin-bottom: 1rem;
    /* background: red; */
}

.bucati h4{
    color: #e8eddf;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.bucati label{
    color: #e8eddf;
    margin-left: .3rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    font-size: .8rem;
}

.bucati input{
    /* background: red; */
    -webkit-appearance: none;
    width: .8rem;
    height: .8rem;
    margin-right: .2rem;
    background: #242423;
    border-radius: 50%;
    /* border: 1px solid #ffffff33; */
    box-shadow: 0px 0px 2px 0px #ccc, 2px 2px 2px 1px #00000077;
}

.bucati input:checked{
    background: #f5cb5c;
    box-shadow: none;
}

.searchDiv{
    display: flex;
    margin-bottom: .5rem;
    justify-content: space-between;
}

.searchIcon{
    color: #e8eddf;
    font-size: 1rem;
}

.search{
    width: 80%;
    background: #e8eddf22;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5cb5c;
    border-radius: .2rem;
    color: #f5cb5c;
}
.mobile{
    display: none;
}

/* .desktop div:nth-child(3){
    display: none;
} */
.desktop div:nth-child(4){
    display: none;
}
.desktop div:nth-child(5){
    display: none;
}


@media screen and (max-width: 768px){
    .container{
        /* display: flex;
        justify-content: space-between;
        flex-wrap: wrap; */
        /* background: red; */
        margin: 0.2rem;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .bucatiDrop{
        display: flex;
        /* margin: .3rem; */
        /* background: red; */
        padding: 3px;
        width: fit-content;
    }

    .mobile div:first-child{
        /* background: blue; */
        width: 100%;
    }

    /* .mobile div:nth-child(3){
        display: none;
    } */
    .mobile div:nth-child(4){
        display: none;
    }
    .mobile div:nth-child(5){
        display: none;
    }
    .searchIconDrop{
        color: #e8eddf;
        font-size: 1.5rem;
        margin: 0 .5rem;
    }
    .container .searchDrop{
        width: 100%;
        background: #e8eddf22;
        outline: none;
        border: none;
        border-bottom: 1px solid #f5cb5c;
        border-radius: .2rem;
        color: #f5cb5c;
        height: 1.5rem;
    }

    .bucatiDrop h4{
        color: #e8eddf;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        margin-right: .3rem;
        font-size: .9rem;
    }

    .bucatiDrop select{
        background: #f5cb5c;
        outline: none;
        border-radius: .2rem;
        font-family: "Poppins";
        font-size: .8rem;
        border: none;
    }
    
    .bucatiDrop option{
        background: #f5cb5c;
        font-family: "Poppins";
        font-size: .8rem;
    }

}