.container{
    margin: .5rem;
}
.container .bucati{
    margin-bottom: 1rem;
}

.bucati h4{
    color: #e8eddf;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}

.bucati label{
    color: #e8eddf;
    margin-left: .3rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    font-size: .9rem;
}

.container .bucatiDropdown{
    display: none;
}

.bucati input{
    /* background: red; */
    -webkit-appearance: none;
    width: .85rem;
    height: .85rem;
    margin-right: .2rem;
    background: #242423;
    border-radius: 50%;
    /* border: 1px solid #ffffff33; */
    box-shadow: 0px 0px 2px 0px #ccc, 2px 2px 2px 1px #00000077;
}

.bucati input:checked{
    background: #f5cb5c;
    box-shadow: none;
}


@media screen and (max-width: 768px){
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .container .bucati{
        display: none;
    }
    .container .bucatiDropdown{
        display: flex;
        margin: .3rem;
    }
    .bucatiDropdown h4{
        color: #e8eddf;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        margin-right: .3rem;
        font-size: .9rem;
    }

    .bucatiDropdown select{
        background: #f5cb5c;
        outline: none;
        border-radius: .2rem;
        font-family: "Poppins";
        font-size: .8rem;
        border: none;
    }
    
    .bucatiDropdown option{
        background: #f5cb5c;
        font-family: "Poppins";
        font-size: .8rem;
    }

}